<div class="row-admin">
<div class="um rollover" id="um"><a><center><%= link_to image_tag("Project.png", :alt => "Category", :height => "100"), new_category_path %></center><br /><center>Create a Category</center><br /></a></div>
<div class="pm rollover" id="um"><a><center><%= link_to image_tag("Product.png", :alt => "Product", :height => "100"), new_product_path %></center><br /><center>Create a Product</center><br /></a></div>
<div class="ts rollover" id="um"><a><center><%= link_to image_tag("Product.png", :alt => "Product", :height => "100"), 'manage-products' %></center><br /><center>Manage Products</center><br /></a></div>
<div class="crm rollover" id="um"><a><center><%= link_to image_tag("Timesheet.png", :alt => "Orders", :height => "100"), orders_path %></center><br /><center>Manage Orders</center><br /></a></div>
</div>
