<div id="cart" class="right">
	<%= render @cart %>
</div>


<div class="left">
	<b>This is not a real store.</b><br />

	This is a part of coursework for CI3540 Web Based Enterprise Services creating a simple E-Commerce Store.<br />

	Navigate through the links in the header
</div>
