<h1>Please Enter Your Details</h1>
<b><u> THIS IS NOT A REAL STORE !!! </u></b>
<%= render 'form' %>

<a href="http://www.credit-card-logos.com"><img alt="" title="" src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/paypal_mc_visa_amex_disc_echeck_253x80.gif" width="253" height="80" border="0" /></a>