<% unless cart.cart_items.empty? %>

<div class="btn">
  <div class="cart_title"><b>Your Cart (<%= cart.cart_items.count %>)</b></div>
    <table class="table table-condensed">
      <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Full Price</th>
      </tr>
      <%= render(cart.cart_items) %>
      <tr>
        <td colspan="2"><b>Total</b></td>
        <td><%= number_to_currency(cart.total_price, :unit => "£") %></td>
      </tr>
    </table>

    <%= button_to "Checkout" , new_order_url, :method => :get, :class => "btn btn-mini btn-primary pull-right" %>

</div>

<% end %>