/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.rollover a { display:block; background-color: #FFFFFF; font-size:120%;}
.rollover a img { width: 100px; height: 100px;}
.rollover a:hover img { display:block; width: 120px; height: 120px;}
.rollover a:hover {font-size:120%; text-decoration:underline;}
.centered {padding-right; auto; padding-left: 50px; margin-right: auto; margin-left: auto; float: left; position; absolute; }

.row-admin { height: 250px; width: 1100px;}
.um {position: absolute; top: 150px; left: 60px; margin-top: 0px; margin-bottom: 60px;}
.pm {position: absolute; top: 150px; left: 190px; margin-top: 0px; margin-bottom: 60px;}
.ts {position: absolute; top: 150px; left: 320px; margin-top: 0px; margin-bottom: 60px;}
.crm {position: absolute; top: 150px; left: 450px; margin-top: 0px; margin-bottom: 60px;}
.sts {position: absolute; top: 150px; left: 520px; margin-top: 0px; margin-bottom: 60px;}
.sts2 {position: absolute; top: 150px; left: 650px; margin-top: 0px; margin-bottom: 60px;}
.product-image {width: 120px;}

.table td span.meta {font-size: 11px; color: #BBB;}

#cart, #cart table {font-size: smaller;}
#cart table {border-top: 1px dotted #595;}

.right {width: auto; float: right;}
.left {width: auto; overflow: hidden;}​​

.header {
	float: left;
	width: 100%;
}

.logo {
	margin-left: 20px;
    width: 150px;
}

.to-the-right {
	float: right;
}

.to-the-left {
	float: left;
}

/* Header seperator line */
#separator {
position: relative;
width: 1024px;
height: 14px;
margin-top: -70px;
margin-left: auto;
margin-right: auto;
background: url("separator.png") no-repeat;
}

/* Override bootstraps white background with baby blue bootstrap.css #166 */
body {
	background-color: #ADE9F4;
}

/* The clear property specifies which sides of an element where other floating elements are not allowed. */
.clear {
	clear: both;
}

/* Registration and Login Form */
.content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}